
#logo{
    width: 350px;
}

.navbar{
opacity: 0.6;
}

.nav-item{
    margin-left: 40px;
    margin-right: 40px;
}

 .img-fluid{
  width: 100%;
 }



  .titulos{
    background-color: #464242;
  }
  .titulos h1{
    color: coral;
    text-align: center;
  }

  .titulos p{
    color: coral;
    text-align: center;
  }